<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poem.title %>
</p>

<p>
  <strong>Incipit:</strong>
  <%= @poem.incipit %>
</p>

<p>
  <strong>Poem:</strong>
  <%= simple_format(@poem.poem.gsub(/\n/, '<br/>')) %>
</p>


<p>
  <strong>Meter:</strong>
  <%= @poem.meter %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @poem.volume %>
</p>

<p>
  <strong>Year:</strong>
  <%= @poem.year %>
</p>



<%= link_to 'Edytuj', edit_poem_path(@poem) %>
<%= link_to 'Usuń', @poem, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Wróć do wierszy', poems_path %>
