<!DOCTYPE html>
<html>
<head>
  <title>Project Milosz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<%= render 'layouts/shim' %>
<div id="logo"><%= image_tag image_path('text.svg') %></div>

<section id="content" class="center"><%= yield %></section>


<%= render 'layouts/footer' %>
</body>
</html>
